In [29]:
#import necessary libraries
import numpy as np
import pandas as pd
import os
from sklearn import preprocessing
from sklearn.impute import SimpleImputer

In [30]:
#create 4 dataframes for each file
df1 = pd.read_csv('/Users/wesleywong/Desktop/SchoolFolders/Spring 2022/CPSC4310notgit/CPSC4310/MLP/MLP2/rawdata/dailyActivity_merged.csv')
df2 = pd.read_csv('/Users/wesleywong/Desktop/SchoolFolders/Spring 2022/CPSC4310notgit/CPSC4310/MLP/MLP2/rawdata/sleepdata_2.csv')
df3 = pd.read_csv('/Users/wesleywong/Desktop/SchoolFolders/Spring 2022/CPSC4310notgit/CPSC4310/MLP/MLP2/rawdata/sleepdata.csv')
df4 = pd.read_csv('/Users/wesleywong/Desktop/SchoolFolders/Spring 2022/CPSC4310notgit/CPSC4310/MLP/MLP2/rawdata/sleepDay_merged.csv')

In [31]:
#data cleaning for df1
df1 = df1.drop(columns=['Id', 'LoggedActivitiesDistance', 'SedentaryActiveDistance', 'SedentaryMinutes', 'TotalDistance', 'TrackerDistance', 'VeryActiveDistance', 'ModeratelyActiveDistance', 'LightActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes', 'LightlyActiveMinutes'])
df1.head(20)

   ActivityDate  TotalSteps  Calories
0     4/12/2016       13162      1985
1     4/13/2016       10735      1797
2     4/14/2016       10460      1776
3     4/15/2016        9762      1745
4     4/16/2016       12669      1863
5     4/17/2016        9705      1728
6     4/18/2016       13019      1921
7     4/19/2016       15506      2035
8     4/20/2016       10544      1786
9     4/21/2016        9819      1775
10    4/22/2016       12764      1827
11    4/23/2016       14371      1949
12    4/24/2016       10039      1788
13    4/25/2016       15355      2013
14    4/26/2016       13755      1970
15    4/27/2016       18134      2159
16    4/28/2016       13154      1898
17    4/29/2016       11181      1837
18    4/30/2016       14673      1947
19     5/1/2016       10602      1820

In [32]:
#dataframe 2 cleaning
df2 = df2.drop(columns=['Heart rate (bpm)', 'Notes', 'Mood', 'City', 'Air Pressure (Pa)', ])
df2 = df2.drop(columns=['Window start', 'Window stop'])
df2 = df2.drop(columns=['Weather temperature (°C)', 'Weather type'])

df2.head(20)

,Start,End,Sleep Quality,Regularity,Steps,Alarm mode,Movements per hour,Time in bed (seconds),Time asleep (seconds),Time before sleep (seconds),Did snore,Snore time
0,2019-05-12 23:26:13,2019-05-13 06:11:03,60%,0%,8350.0,Normal,35.0,24289.2,22993.8,161.9,True,92.0
1,2019-05-13 22:10:31,2019-05-14 06:10:42,73%,0%,4746.0,Normal,78.6,28810.2,25160.9,192.1,True,0.0
2,2019-05-14 21:43:00,2019-05-15 06:10:41,86%,96%,4007.0,Normal,60.5,30461.5,28430.8,203.1,True,74.0
3,2019-05-15 23:11:51,2019-05-16 06:13:59,77%,92%,6578.0,Normal,45.2,25327.6,23132.5,168.9,True,0.0
4,2019-05-16 23:12:13,2019-05-17 06:20:32,78%,94%,4913.0,Normal,44.6,25698.4,22614.6,171.3,True,188.0
5,2019-05-19 01:25:12,2019-05-19 08:43:11,72%,80%,4020.0,No alarm,58.0,26278.2,20759.8,175.2,True,0.0
6,2019-05-20 22:41:13,2019-05-21 06:22:58,73%,58%,5133.0,Normal,64.0,27705.2,24565.2,184.7,True,0.0
7,2019-05-21 22:39:27,2019-05-22 06:00:55,78%,77%,4927.0,Normal,51.0,26488.8,22780.4,176.6,True,279.0
8,2019-05-22 22:36:59,2019-05-23 06:03:59,84%,98%,6637.0,Normal,43.5,26819.9,25925.9,178.8,True,0.0
9,2019-05-23 23:15:23,2019-05-24 06:33:47,88%,95%,4298.0,Normal,31.6,26304.2,23761.4,175.4,True,0.0
10,2019-05-26 00:21:00,2019-05-26 08:19:28,71%,83%,4741.0,No alarm,69.0,28708.4,26603.1,191.4,True,516.0
11,2019-05-26 22:49:24,2019-05-27 06:09:41,73%,73%,6110.0,Normal,56.5,26417.5,22190.7,176.1,True,617.0
12,2019-05-27 22:31:45,2019-05-28 05:43:07,74%,82%,3999.0,Normal,52.4,25882.0,23466.4,172.5,True,0.0
13,2019-05-28 22:57:37,2019-05-29 06:01:20,75%,86%,5811.0,Normal,49.1,25422.7,22711.0,169.5,True,0.0
14,2019-05-29 22:24:24,2019-05-30 06:10:41,92%,94%,5256.0,Normal,34.9,27976.8,26111.6,186.5,True,243.0
15,2019-05-30 21:58:16,2019-05-31 06:12:03,73%,95%,5286.0,Normal,68.2,29627.1,26664.3,1185.1,True,239.0
16,2019-05-31 23:28:30,2019-06-01 06:39:58,85%,91%,4188.0,Normal,35.0,25888.3,23299.5,172.6,True,0.0
17,2019-06-01 22:27:26,2019-06-02 07:02:34,97%,89%,11111.0,No alarm,40.3,30908.4,28538.8,206.1,True,0.0
18,2019-06-02 22:34:04,2019-06-03 06:11:11,75%,88%,11651.0,Normal,56.3,27427.0,24501.4,182.8,True,0.0
19,2019-06-03 22:45:51,2019-06-04 06:11:28,84%,93%,7521.0,Normal,39.7,26737.4,24865.8,178.2,True,0.0

In [33]:
#dataframe 3 cleaning
#df3 = df3.drop(columns=['Activity (steps)'])
values = df3[["Heart rate"]]
imputer = SimpleImputer()
transformed_values = imputer.fit_transform(values)
df3[['Heart rate']] = pd.DataFrame(transformed_values)

df3.dropna(subset='Wake up')

df3.head(20)

,Start,End,Sleep quality,Time in bed,Wake up,Sleep Notes,Heart rate,Activity (steps)
0,2014-12-29 22:57:49,2014-12-30 07:30:13,100%,8:32,:),NaN,59.000000,0
1,2014-12-30 21:17:50,2014-12-30 21:33:54,3%,0:16,:|,Stressful day,72.000000,0
2,2014-12-30 22:42:49,2014-12-31 07:13:31,98%,8:30,:|,NaN,57.000000,0
3,2014-12-31 22:31:01,2015-01-01 06:03:01,65%,7:32,NaN,NaN,60.604938,0
4,2015-01-01 22:12:10,2015-01-02 04:56:35,72%,6:44,:),Drank coffee:Drank tea,68.000000,0
5,2015-01-03 00:34:57,2015-01-03 07:47:23,83%,7:12,:),Drank coffee:Drank tea,60.000000,0
6,2015-01-04 00:23:06,2015-01-04 07:37:09,78%,7:14,NaN,Drank tea,60.604938,0
7,2015-01-04 21:34:44,2015-01-05 04:53:34,78%,7:18,:),Ate late:Drank coffee,57.000000,0
8,2015-01-05 21:32:25,2015-01-06 05:00:03,69%,7:27,:),Drank coffee:Drank tea:Worked out,56.000000,0
9,2015-01-06 21:24:56,2015-01-07 05:00:02,74%,7:35,:|,Drank tea:Worked out,64.000000,0
10,2015-01-07 20:59:58,2015-01-08 06:19:20,81%,9:19,:),Drank coffee:Drank tea:Stressful day,62.000000,0
11,2015-01-08 22:58:18,2015-01-09 06:14:58,88%,7:16,:),Drank coffee:Drank tea,58.000000,0
12,2015-01-09 22:27:58,2015-01-10 07:29:00,77%,9:01,:|,Drank coffee:Drank tea,65.000000,0
13,2015-01-10 22:38:24,2015-01-11 07:28:59,89%,8:50,:|,Drank coffee:Drank tea,65.000000,0
14,2015-01-11 22:12:07,2015-01-12 06:20:29,78%,8:08,:),Drank tea,53.000000,0
15,2015-01-12 21:01:46,2015-01-13 06:13:23,100%,9:11,:),Drank tea:Worked out,65.000000,0
16,2015-01-13 22:14:29,2015-01-14 06:20:33,100%,8:06,:),Drank coffee:Drank tea,55.000000,0
17,2015-01-14 21:48:26,2015-01-15 05:02:05,88%,7:13,:),Drank coffee:Drank tea:Worked out,60.000000,0
18,2015-01-15 21:32:07,2015-01-16 04:54:42,87%,7:22,:),Drank tea,60.000000,0
19,2015-01-17 02:11:57,2015-01-17 09:03:37,83%,6:51,:),Drank coffee:Drank tea,94.000000,0

In [34]:
#dataframe 4 cleaning
df4 = df4.drop(columns=['Id', 'TotalSleepRecords'])
df4.head(20)

                 SleepDay  TotalMinutesAsleep  TotalTimeInBed
0   4/12/2016 12:00:00 AM                 327             346
1   4/13/2016 12:00:00 AM                 384             407
2   4/15/2016 12:00:00 AM                 412             442
3   4/16/2016 12:00:00 AM                 340             367
4   4/17/2016 12:00:00 AM                 700             712
5   4/19/2016 12:00:00 AM                 304             320
6   4/20/2016 12:00:00 AM                 360             377
7   4/21/2016 12:00:00 AM                 325             364
8   4/23/2016 12:00:00 AM                 361             384
9   4/24/2016 12:00:00 AM                 430             449
10  4/25/2016 12:00:00 AM                 277             323
11  4/26/2016 12:00:00 AM                 245             274
12  4/28/2016 12:00:00 AM                 366             393
13  4/29/2016 12:00:00 AM                 341             354
14  4/30/2016 12:00:00 AM                 404             425
15   5/1/2016 12:00:00 AM                 369             396
16   5/2/2016 12:00:00 AM                 277             309
17   5/3/2016 12:00:00 AM                 273             296
18   5/5/2016 12:00:00 AM                 247             264
19   5/6/2016 12:00:00 AM                 334             367

In [35]:
#to_csv
os.makedirs('/Users/wesleywong/Desktop/SchoolFolders/Spring 2022/CPSC4310notgit/CPSC4310/MLP/MLP2/input', exist_ok=True)  
df1.to_csv('/Users/wesleywong/Desktop/SchoolFolders/Spring 2022/CPSC4310notgit/CPSC4310/MLP/MLP2/input/dailyActivityCleaned.csv')
df2.to_csv('/Users/wesleywong/Desktop/SchoolFolders/Spring 2022/CPSC4310notgit/CPSC4310/MLP/MLP2/input/sleepdata2Cleaned.csv')   
df3.to_csv('/Users/wesleywong/Desktop/SchoolFolders/Spring 2022/CPSC4310notgit/CPSC4310/MLP/MLP2/input/sleepdataCleaned.csv')
df4.to_csv('/Users/wesleywong/Desktop/SchoolFolders/Spring 2022/CPSC4310notgit/CPSC4310/MLP/MLP2/input/sleepDayCleaned.csv')